/* This stylesheet is temporary, a bare minimum to help test functionality  */

body {
  min-height: 100vh;
  background-color: rgb(117, 173, 154);
  font-size: 1.8rem;
}

.header {
  display: grid;
  place-items: center;
  min-height: 10rem;
  background-color: rgb(169, 226, 234);
}

.main {
  margin: auto;
  display: grid;
  justify-content: center;
  max-width: 70ch;
  min-height: 80vh;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(247, 200, 171);
}

.footer {
  min-height: 10rem;
  background-color: rgb(223, 211, 228);
}

.add-todo {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
