/* This stylesheet is temporary, a bare minimum to help test functionality  */

/* GENERAL STYLES ===================================================================== */
body {
  min-height: 100vh;
  font-size: 1.8rem;
  background-color: #eff0f1;
  /* Temp to soften for eyes */
}

/* HEADER ================================================================================= */

.header {
  display: flex;
  align-items: center;
  min-height: 10rem;
  background-color: #2989ed;
}

.add-todo {
  margin-left: 3rem;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 5rem;
}

.header h2 {
  margin-left: 5rem;
  color: white;
}

/* NAV / MAIN WRAPPER - LAYOUT ========================================*/

.main-wrapper {
  display: grid;
  grid-template-columns: 30rem 1fr;
}
/* MAIN LEFT NAV ====================================================== */

.main-nav {
  border-right: 2px solid black;
  min-height: 100vh;
  background-color: #efefef;
  padding: 2rem;
}

/* MAIN AREA / TODO VIEW =============================================== */

.main {
  padding: 0 2rem;
}

.list-view {
  background-color: white;
  border: 1px dotted black;
  border-radius: 5px;
  margin: 2rem 1rem;
  padding: 0 2rem;
  min-height: 20rem;
}

/* TODO CARD ========================================================== */

.todo-header {
  background-color: beige;
  font-weight: 800;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.todo-card {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/* MODAL ============================================================== */

.modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  display: none;
  place-items: center;
}

.modal fieldset {
  background-color: rgb(209, 199, 199);
  border: 2px solid black;
  min-width: 40ch;
  display: flex;
  flex-direction: column;
}

fieldset input {
  margin-bottom: 2rem;
}
